.head-txt{
    background-color: #941818;
    color: #fff;
}

h5.head-txt.px-4 {
    font-size: medium;
}

.container-fluid.acc-ct {
    background-color: hsl(194, 26%, 73%);
}

input.input_date {
    margin-left: 26px;
    width: 74%;
    height: 22px;
}

input.input_vch {
    margin-left: 17px;
    width: 66%;
    height: 22px;
}

input.input_sale {
    margin-left: 39px;
    width: 40%;
    height: 22px;
}

input.Party {
    margin-left: 24px;
    width: 87%;
    height: 22px;
}

input.matcentre {

    margin-left: 24px;
    width: 40%;
    height: 22px;
}

input {
    border: 0px;
    color: black;
    outline: none;
    text-transform: capitalize;
    background-color: hsl(194, 26%, 73%);
    font-size: 13px;
  }
  
  input:focus {
    background: black;
    color: white;
  }

.textColor:focus {
    color: white;
}

select {
    color: black;
    outline: none;
    text-transform: capitalize;
    background-color: hsl(194, 26%, 73%);
  }
  
  select:focus {
    background: black;
    color: white;
  }

  .form-select {
    background-color: hsl(194, 26%, 73%);
  }

  select.form-select {
    /* width: 361px; */
    /* height: 22px; */
    margin-right: 2px;
    float: right;
    width: 361px;
    height: 22px;
    border: 0px;
    padding: 0px;
    border-radius: inherit;
     background-color: hsl(194, 26%, 73%);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px hsl(194, 26%, 73%) inset !important;
  -webkit-text-fill-color: black !important;
}

/* ------datepicker calender------------- */

.react-datepicker-popper {
    visibility: hidden;
}

/* -------------------------------------- */


/* --legend tag------------ */
legend.float-none.w-auto.p-2 {
    font-size: 13px;
    color: darkgrey;;
}
fieldset.border.p-2 {
    /* border: 1px solid black!important; */
    border: 2px solid darkgrey!important;
}

textarea:focus {
    background: black;
    color: white;
}

.textColor:focus {
    color: white;
}
/* --------------------------------- */
/* -----grid table------------------ */
.grid.row {
    margin-bottom: -9px;
    width: 103.2%;
    margin-left: -19px;
    height: 106px;
    margin-top: 91px;
}

/* ---------------------------------- */
.c1.col-4 {
    /* border: 1px solid; */
    border: 2px solid darkgray;
    margin-left: 10px;
}
.c2.col-4 {
    /* border: 1px solid; */
    border: 2px solid darkgray;
}

.c3.col-4 {
    /* border: 1px solid; */
    border: 2px solid darkgray;
    margin-left: 0px;
    width: 31.8%;
}

.c4.col-12 {
    height: 64px;
    /* border: 1px solid; */
    border: 2px solid darkgray;
    width: 107.2%;
    margin-left: -13px;
    margin-top: 16px;
}

/* ---------------------------------------- */

.vch.col-1.mt-2 {
    margin: -19px;
}
.master.col-1.mt-2 {
    margin-left: -8px;
}
button.Sales_btn.px-3 {
    margin-left: -7px;
}

.party.col-1.mt-2 {
    margin-left: -13px;
}

.vchimage.col-1.mt-2 {
    margin-left: -21px;
}

.accimage.col-1.mt-2 {
    margin-left: -65px;
}

.itemimage.col-1.mt-2 {
    margin-left: -65px;
}

/* .quit.col-1.mt-2 {
    margin-left: 83px;
} */

.hold.col-1.mt-2 {
    margin-left: 16%;
}

.update.col-1.mt-2 {
    margin-left: -11px;
}

.scheme.col-1.mt-2 {
    margin-left: -21px;
}
.save.col-1.mt-2 {
    margin-left: -67px;
}

.quit.col-1.mt-2 {
    margin-left: -68px;
}